@page "/"
@using Models

<PageTitle>Home</PageTitle>

<h1>Game Catalog</h1>

<table class="table table-striped tabled-bordered table-hover">
    <thead class="table-dark">
        <th>Id</th>
        <th>Name</th>
        <th>Genre</th>
        <th>Price</th>
        <th>Release Date</th>
        <th></th>
    </thead>
    <tbody>
        @foreach (var game in games)
        {
            <tr>
                <td>@game.Id</td>
                <td>@game.Name</td>
                <td>@game.Genre</td>
                <td>@game.Price</td>
                <td>@game.ReleaseDate.ToString("MM/dd/yyyy ")</td>
                <td></td>
            </tr>
        }
    </tbody>
</table>



@code {
    private Game[] games = new[]
    {
new Game(){
Id = 1,
Name = "The Witcher 3: Wild",
Genre = "Adventure",
Price = 19.99M,
ReleaseDate = new DateTime(1991, 2, 2)
},
new Game(){
Id = 2,
Name = "Street Fighter II",
Genre = "Fighting",
Price = 59.99M,
ReleaseDate = new DateTime(1991, 2, 2)
},
new Game(){
Id = 3,
Name = "FIFA 23",
Genre = "Sports",
Price = 69.99M,
ReleaseDate = new DateTime(1991, 2, 2)
},
};
}
